[submodule "themes/ananke"]
	path = themes/ananke
	url = https://hub.fastgit.org/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/zzo"]
	path = themes/zzo
	url = https://hub.fastgit.org/zzossig/hugo-theme-zzo.git
